$primary-font: 'Indie Flower', cursive;
$secondary-font:'Fredericka the Great', cursive;
$tertiary-font:'Shantell Sans', cursive;
$primary-color:rgb(32, 149, 154);
$secondary-color:rgb(88, 0, 139);
$tertiary-color:orangered;
$text-color:rgb(245, 51, 51);
